@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.overlayContainer {
    position: absolute;
    left: 0;
    right: 40%;
    height: 400px;
    background-image: linear-gradient(
        180deg,
        rgba(9, 211, 172, 0.35) 0%,
        rgba(97, 218, 251, 0.25) 100%
    );
    filter: blur(72px);
    margin-top: 3rem;
}

.terminalContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.terminalHeader {
    font-size: 2.3rem;
    text-align: center;
    letter-spacing: -0.025em !important;
    margin-bottom: 2rem;
    color: var(--ifm-hero-tag-title-color);
}

.primaryText {
    color: #21af90;
    font-weight: 700;
}

.command {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "Source Code Pro", sans-serif;
}

.question {
    color: #ffd028;
    font-weight: 700;
}

.answer {
    color: #0cc3f0;
    font-weight: 600;
}

.tick,
.created {
    color: #26ca05;
    font-weight: 700;
}

.terminal {
    height: 440px !important;
}

.terminalHeading,
.terminalPara {
    color: #ffffff;
}

.terminalPara {
    animation: fadeInDown 0.5s;
}

.content {
    padding: 0 2rem;
}

.contentPara {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@media screen and (max-width: 1024px) {
    .terminal {
        height: 500px !important;
    }
}

@media screen and (max-width: 768px) {
    .terminal {
        height: 440px !important;
    }

    .overlayContainer {
        margin-top: 50%;
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .terminal {
        height: 550px !important;
    }

    .terminalHeader {
        font-size: 2rem;
    }

    .terminalContainer,
    .content {
        padding: 0;
    }

    .tool__container {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .terminal {
        height: 580px !important;
    }

    .terminalHeader {
        font-size: 1.75rem;
    }
}
@media screen and (max-width: 350px) {
    .terminal {
        height: 640px !important;
    }
}
